/* =========================== */
/* Général */
body
{
  font-family: Verdana, serif;
  padding: 0;
  margin: 0;
}
/* =========================== */




/* =========================== */
/* Header */
header
{
  padding: 0;
  margin: 0;
  background-color: #6fa8dc;
  box-shadow: 0px 6px 3px #085394;
}
header h1
{
  font-family: HOBO Std, MV Boli, Verdana, serif;
  font-size: 3.7em;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
  padding: 50px 0 5px 50px;
  margin: 0;
}
header h2
{
  font-size: 2em;
  font-weight: normal;
  color: #FFFFFF;
  padding: 0 0 50px 50px;
  margin: 0;
}
/*#imageHeader
{
  float: right;
  width: 150px;
  height: 150px;
  padding: 20px 70px 0 0;
}*/
/* =========================== */




/* =========================== */
/* Corps */
#corps
{
  display: flex;
  margin: 0;
  padding: 0;
}
/* =========================== */




/* =========================== */
/* Gauche */
#gauche
{
  width: 20%;
  margin: 6px 0 0 0;
  padding-top: 55px;
  text-align: center;
  background-color: #E0E0E0;
  font-weight: bold;
  font-size: 0.9em;
}


/* Graduation */
#iconeGraduation
{
  width: 50px;
  height: 40px;
  margin-bottom: 5px;
}
#dateBac
{
  padding-bottom: 24px;
}
#dateBrevet
{
  padding-bottom: 20px;
}
@media screen and (max-width: 1575px) /* Espacement dates bac brevet */
{
  #dateBac
  {
    padding-bottom: 46px;
  }
}
@media screen and (max-width: 1206px) /* Espacement dates bac brevet */
{
  #dateBac
  {
    padding-bottom: 30px;
  }
}


/* Briefcase */
#iconeBriefcase
{
  width: 50px;
  height: 40px;
  margin-top: 80px;
  margin-bottom: 51px;
}
.paragrapheGauche
{
  padding-top: 13px;
}
@media screen and (max-width: 1206px) /* Espacement briefcase */
{
  #iconeBriefcase
  {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}


/* Trophee */
#iconeTrophe
{
  width: 50px;
  height: 50px;
  padding-top: 75px;
}
.paragrapheGaucheTrophee
{
  margin-bottom: 45px;
}
#datesTrophee1
{
  margin-top: 43px;
  line-height: 20px;
}
@media screen and (min-width: 1575px)
{
  #datesTrophee1
  {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #dateTrophee2
  {
    margin-top: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 1575px)
{
  #dateTrophee2
  {
    margin-top: 21px;
  }
}


/* Cogs */
#iconeCogs
{
  width: 50px;
  height: 50px;
  padding-top: 80px;
}
/* =========================== */




/* =========================== */
/* Centre */
#centre
{
  padding: 40px 30px 0 30px;
  width: 60%;
}
.gras
{
  font-weight: bold;
}


/* Scolaire */
#scolaire h2
{
  margin-bottom: 27px;
}


/* Exp pro */
#expPro
{
  margin-top: 100px;
}
@media screen and (max-width: 1575px)
{
  #expPro p
  {
    line-height: 1.8em;
  }
}
@media screen and (max-width: 1206px)
{
  #expPro p
  {
    line-height: 2em;
  }
}


/* Autres */
#autre
{
  margin-top: 100px;
}


/* Competences */
#competences
{
  margin-top: 100px;
}
/* =========================== */




/* =========================== */
/* Droite */
#droite
{
  margin-top: 6px;
  width: 20%;
  background-color: #6fa8dc;
  padding-top: 20px;
}
#droite h2
{
  color: #FFFFFF;
  text-align: center;
  background-color: #085394;
}
#droite li
{
  list-style-type: none;
}


/* Contact */
#contact
{
  margin-bottom: 50px;
  font-size: 0.9em;
  display: flex;
}
#iconesContact
{
  padding-left: 20px;
}
#textContact
{
  padding: 10px 20px 0 20px;
}
#iconeMap
{
  width: 35px;
  height: 35px;
  padding: 10px 0 10px 0;
}
#iconePhone, #iconeAt, #iconeLink
{
  width: 30px;
  height: 30px;
  padding: 8px 0 8px 0;
}
#adresseContact
{
  margin-bottom: 10px;
}
#telContact, #mailContact
{
  padding: 15px 0 15px 0;
}
#lienContact
{
  padding-top: 15px;
}
@media screen and (max-width: 1761px) /* Petite résolution texte contact */
{
  #textContact
  {
    padding: 5px 20px 0 20px;
  }
  #adresseContact
  {
    margin-bottom: 0;
  }
  #telContact, #mailContact
  {
    padding: 11px 0 19px 0;
  }
  #lienContact
  {
    padding-top: 11px;
  }
}


/* Langages */
#langages
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#listeLangages
{
  padding-left: 20px;
}
#conteneurNotes
{
  padding-right: 20px;
  padding-left: 0;
}
.pointNote, .pointNoteGauche, .pointNoteDroit
{
  width: 15px;
  height: 15px;
}
.pointNoteGauche
{
  padding-right: 3px;
}
.pointNoteDroit
{
  padding-left: 3px;
}
.pointNote
{
  padding: 0 3px 0 3px;
}


/* Qualités et hobbies */
#qualites, #hobbies
{
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
#qualites ul, #hobbies ul
{
  padding-left: 0;
  padding-right: 20px;
  width: 35%;
}
#qualites li, #hobbies li
{
  margin-bottom: 10px;
}


/* Petite taille points notes, qualités et hobbies */
@media screen and (max-width: 1241px)
{
  .pointNote, .pointNoteGauche, .pointNoteDroit
  {
    width: 10px;
    height: 10px;
  }
  #qualites li, #hobbies li
  {
    font-size: 0.8em;
  }
}


/* Divers */
#divers
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#datesDivers
{
  padding-left: 20px;
  font-size: 0.8em;
  line-height: 20px;
}
#contenuDivers
{
  padding-right: 20px;
  padding-left: 0px;
  font-size: 0.9em;
}
/* =========================== */